{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Weisky - 登录{% endblock %}

{% block page_content %}
{#<div class="page-header">#}
{#    <h1>登录</h1>#}
{#</div>#}

<div class="col-md-4">
	{{ wtf.quick_form(form) }}
    <br>

{#    <h4><a href="{{ url_for('auth.password_reset_request') }}">#}
{#        <span class="label label-danger">我忘记了密码了？</span>#}
{#    </a>#}
{#    <a href="{{ url_for('auth.register') }}">#}
{#        <span class="label label-primary">注册</span>#}
{#    </a></h4>#}

    <a class="btn btn-info" href="{{ url_for('auth.register') }}">注册</a>
    <a class="btn btn-danger" href="{{ url_for('auth.password_reset_request') }}">忘记密码</a>

</div>



{% endblock %}